@media (min-width:1200px) {
    .top-header .aux-text{display: inline-block !important;
    float: left;
}

.w-section .aside-feature {
    text-align: left;
}

.w-section .aside-feature .icon-feature {
    text-align: left;
}

.slider {
    width: 100%;
}

.w-section .txt-fly-over {
    height: 350px;
    top: -90px;
}

.navbar-default .dropdown-menu,.navbar-white .dropdown-menu {
    margin-top: 0px !important;
}

.navbar-default .dropdown-menu,.navbar-white .dropdown-menu.dropdown-menu-user {
    margin-top: 13px !important;
}

.wrapper.boxed {
    width: 1230px;
    margin: auto;
}}

@media (min-width:992px) and (max-width:1199px) {
    .top-header .aux-text {
        display: inline-block !important;
    }

    .navbar-default .dropdown-menu,.navbar-white .dropdown-menu {
        margin-top: 0px !important;
    }

    .navbar-default .dropdown-menu,.navbar-white .dropdown-menu.dropdown-menu-user {
        margin-top: 13px !important;
    }

    .wrapper.boxed {
        width: 1000px;
        margin: auto;
    }

    .w-section .txt-fly-over {
        height: 390px;
        top: -60px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .top-header .aux-text {
        display: inline-block !important;
    }

    .w-box,.carousel-work .figure {
        margin-bottom: 15px;
    }

    .animate-hover-slide img {
        width: 100%;
    }

    .carousel-1 .object {
        width: 400px !important;
    }

    .slider {
        width: 100%;
    }

    .w-section .txt-fly-over {
        height: 400px;
        top: -60px;
    }
}

@media (max-width:767px) {
    header .navbar-brand {
        margin: 14px 0;
    }

    .navbar-white .navbar-nav>li>a {
        color: #4c4c4c;
        padding: 10px 20px !important;
        margin-right: 0;
    }

    .navbar-white .navbar-nav>li>a:hover,.navbar-white .navbar-nav>li>a:focus {
        color: #FFF;
        background-color: #e06d58;
        border-radius: 0 !important;
    }

    .navbar-white .navbar-nav>.active>a,.navbar-white .navbar-nav>.active>a:hover,.navbar-white .navbar-nav>.active>a:focus {
        border-radius: 0 !important;
    }

    .navbar-white .dropdown-menu:after {
        border: 0 !important;
        margin-left: 0;
    }

    .navbar-white .dropdown-menu:before {
        border: 0 !important;
        margin-left: 0;
    }

    .w-section .aside-feature {
        text-align: center;
    }

    .w-section .aside-feature .icon-feature {
        text-align: center;
    }

    .sort-list-btn .btn {
        margin-bottom: 10px;
    }

    .w-box,.carousel-work .figure {
        margin-bottom: 15px;
    }

    .animate-hover-slide .figure img {
        width: 100%;
    }

    .carousel-1 .carousel-inner {
        height: 420px;
    }

    .carousel-1 .carousel-inner {
        overflow: hidden;
    }

    .carousel-1 .carousel-control i {
        position: absolute;
        top: 50%;
        margin-top: -18px;
        font-size: 36px;
        font-weight: 600;
    }

    .carousel-1 .item-dark {
        color: #FFF;
    }

    .carousel-1 p {
        font-size: 16px;
    }

    .carousel-1 .object {
        display: none;
    }

    .carousel-1 .object.fluid {
        width: 100%;
        left: 0;
        margin: 0;
    }

    .carousel-1 .object iframe {
        width: 100% !important;
    }

    .carousel-1 .description {
        width: 100% !important;
        top: 50px;
        left: 0 !important;
        margin: 0 !important;
    }

    .carousel-1 .description .title {
        font-size: 32px;
        margin: 0 0 15px 0;
        padding: 8px 20px;
        background: #FFF;
        color: #9ab2cc;
        display: block;
        text-align: center;
    }

    .carousel-1 .description .subtitle {
        font-size: 24px;
        margin: 20px 0;
        padding: 0 15px !important;
        display: block;
        text-align: center;
    }

    .carousel-1 .description p {
        font-size: 16px;
        color: #FFF;
        margin: 0;
    }

    .carousel-1 .description.fluid-center .features i {
        width: 80px;
        height: 80px;
        background: #FFF;
        text-align: center;
        line-height: 80px;
        font-size: 34px;
        color: #697e93;
        font-weight: 700;
        border-radius: 80px;
        margin-right: 20px;
    }

    .carousel-1 .list-carousel {
        padding-left: 30px !important;
    }

    .carousel-3 .figure {
        margin-bottom: 20px;
    }

    .carousel-3 .carousel-nav a {
        bottom: 16px !important;
        top: auto !important;
    }

    .slider {
        height: auto;
        max-height: 440px;
        margin: 0;
    }

    .cta-wr {
        text-align: center;
    }

    .cta-wr .btn {
        float: none !important;
    }

    .w-section .txt-fly-over {
        height: 400px;
        position: static;
        top: 0;
    }
}

@media only screen and (min-width:1440px) {
    .slider {
        width: 100%;
    }
}

@media (max-width:460px) {
    .search-wr .search-sign i {
        margin-left: 0;
    }

    .global-search-input {
        font-size: 16px;
        padding: 14px 0;
    }
}